.container {
  position: relative;
  margin: auto;
  text-align: center;
  cursor: pointer;
}

.rolls-list {
  position: absolute;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  text-align: center;
}

.saved-roll:first-child {
  border-radius: 10px 10px 0 0;
}

.saved-roll:last-child {
  border-radius: 0 0 10px 10px;
  border: none;
}

.saved-roll:only-child {
  border-radius: 10px;
}

.saved-roll {
  border-bottom: solid 1px white;
  box-sizing: border-box;
  height: 50px;
  line-height: 50px;
  color: white;
  background-color: rgb(10, 49, 75);
}

.delete {
  margin-bottom: 10px;
}

.choice {
  padding: 10px;
}

.red-icon {
  color: crimson;
}

.green-icon {
  color: green;
}
