<div class="container" *ngIf="savedRolls.length > 0" >
  <div class="delete">
    <div (click)="deleting = true;">
      <i class="fas fa-trash-alt red-icon"></i>
      Delete saved rolls
    </div>
    <div *ngIf="deleting">
      <div>
        <div>Are you sure?</div>
        <span class="choice" (click)="deleteSavedRolls(true)"><i class="fas fa-check green-icon"></i> Yes, delete all!</span>
        <span class="choice" (click)="deleteSavedRolls(false)"><i class="fas fa-times red-icon"></i> No, keep them!</span>
      </div>
    </div>
  </div>
  <div (click)="open = !open">Choose a previous roll <i class="fas fa-chevron-down"></i></div>
  <div (click)="open = !open" class="rolls-list" *ngIf="open">
    <div class="saved-roll"
         *ngFor="let savedRoll of savedRolls"
         value="savedRoll"
         (click)="onSelect(savedRoll)"
         >{{ savedRoll.name }}</div>
  </div>
</div>
