.dice-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.button-roll {
  cursor: pointer;
  margin: 10vh auto;
  width: 200px;
  padding: 1em 0;

  background-color:rgb(10, 49, 75);
  color: whitesmoke;
  font-size: 2em;
  font-weight: bolder;
  text-align: center;

  border-radius: 20px;
  box-sizing: border-box;
}

.display-container {
  text-align: center;
}

.value-display {
  margin: auto;
  font-size: 2em;
  font-weight: bold;
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 10px;
  line-height: 2em;
}

.red {
  background-color: darkred;
  color: whitesmoke;
}

.green {
  background-color: green;
  color: whitesmoke;
}

.rank {
  background-color: lemonchiffon;
}

small {
  font-style: italic;
}
