<div class="dice-container">
  <app-die *ngFor="let die of dice; index as i;" (click)="substractRank(i)" [index]="i" [value]="die"></app-die>
</div>
<div class="display-container" *ngIf="!rolling">
  <div *ngIf="values.rank > 0">
    <small>Use your rank by clicking on the dice</small>
    <div class="value-display rank">
      <div>
        {{ values.rank }}
      </div>
    </div>
  </div>

  <small>Your successes: </small>
  <div class="value-display" [ngClass]="{'green': !!result, 'red': !result}">
    {{ result }}
  </div>
</div>

<div *ngIf="rolling" class="button-roll" (click)="stopRoll()">Roll!</div>
