<div class="container" [ngSwitch]="state">
  <div class="header">
    <div class="title-banner">
      <span class="title">Age of Swords</span>
      <span class="subtitle">Dice Rolls</span>
    </div>
    <app-saved-rolls *ngSwitchCase="states.LOADED" [savedRolls]="savedRolls" (select)="setSavedRoll($event)"></app-saved-rolls>
  </div>
  <app-roll-values *ngSwitchCase="states.LOADED"
                   [rollName]="rollName"
                   [values]="values"
                   (valuesUpdate)="onValuesUpdate($event)"
  ></app-roll-values>
  <app-rolling *ngSwitchCase="states.ROLLING" [values]="values"
  ></app-rolling>
  <button (click)="goHome()">Home</button>
</div>


