.container {
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  background-image: linear-gradient(to bottom right, whitesmoke,white);
}

.title-banner {
  position: relative;
  background-color:rgb(10, 49, 75);
  text-align: center;
  color: whitesmoke;
  font-weight: bold;
}

.title-banner .menu {
  cursor: pointer;
  position: absolute;
  left: 20px;
  top: 10px;
  font-size: 2em;
}

.title {
  display: block;
  font-size: 1.5em;
}

.subtitle {
  display: block;
  font-size: 1.2em;
}

@media screen and (max-width: 797px) {
  .container {
    max-width: 100vw;
  }
}
