<div class="container" [ngSwitch]="state">
  <div class="title-banner">
    <div class="menu" (click)="goHome()">
      <i class="fas fa-home"></i>
    </div>
    <span class="title">Age of the Sword</span>
    <span class="subtitle">Dice Rolls</span>
  </div>
  <app-saved-rolls *ngSwitchCase="states.LOADED" [savedRolls]="savedRolls" (select)="setSavedRoll($event)"></app-saved-rolls>

  <app-roll-values *ngSwitchCase="states.LOADED"
                   [rollName]="rollName"
                   [values]="values"
                   (valuesUpdate)="onValuesUpdate($event)"
  ></app-roll-values>
  <app-rolling *ngSwitchCase="states.ROLLING" [values]="values"
  ></app-rolling>
</div>


