.container {
  max-width: 80%;
  margin: auto;
  text-align: center;
}

input {
  color: white;
  background-color: rgb(10, 49, 75);
  border: none;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  width: 200px;
}

input:placeholder-shown {
  font-weight: normal;
  color: skyblue;
  font-style: italic;
}

input:active {
  background-color: rgb(30, 80, 130);
}

.label {
  font-style: italic;
  text-align: center;
  padding: 10px;
}

.button-roll {
  cursor: pointer;
  margin: 2em auto;
  width: 200px;
  padding: 1em 0;

  background-color:rgb(10, 49, 75);
  color: whitesmoke;
  font-size: 2em;
  font-weight: bolder;
  text-align: center;

  border-radius: 20px;
  box-sizing: border-box;
}

.button-roll:active {
  background-color: steelblue;
}
