<div class="container">
  <div class="label">What are you rolling for ?</div>
  <input [(ngModel)]="rollName" #ctrl="ngModel" placeholder="a skill, ability, attack etc...">
  <app-value-input (valueSelected)="values.nDice = $event" [value]="values.nDice" [label]="'Number of dice'"></app-value-input>
  <app-value-input (valueSelected)="values.al = $event" [value]="values.al" [label]="'AL (Aptitude Level)'"></app-value-input>
  <app-value-input (valueSelected)="values.rank = $event" [value]="values.rank" [label]="'Rank'"></app-value-input>
  <div class="button-roll" (click)="submit()">Done</div>
</div>


